{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; http://localhost:8000/camera/{{ news.id }}/{{ user.id }}" />  {% comment %} 5秒後に指定のURLへリダイレクト {% endcomment %}
    <title>News</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <header>
        <h1>INIAD Infomation</h1>
    </header>
    <div class="main">
        <h2>{{ news.title }}</h2>
        <p>{{ news.text }}</p>

        <br>
        <p class="request">※ 確認したら好きな方の手を挙げてください。</p>

        <div class="reaction">
            <img src="{% static 'images/cross.png' %}" class="icon check">
            <img src="{% static 'images/check.png' %}" class="icon cross">
        </div>
        <div class="human">
            <img src="{% static 'images/human.png' %}" class="pict left">
            <img src="{% static 'images/human.png' %}" class="pict right">
        </div>
    </div>


</body>
</html>
</html>