html{
    font-family:'Courier New';
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;

}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

h1 {
    padding-top: 50px;
    padding-bottom: 40px;
    border-bottom: solid 4px #333377;
    font-size: 80px;
    text-align: center;
}

h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.request {
    color: #e4606d;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.reaction {
    text-align: center;
}

.icon {
    width: 180px;
    display: inline-block;
    margin: 30px 120px 0px 50px;
}

.human {
    text-align: center;
}

.pict {
    width: 200px;
    display: inline-block;
    margin: 50px 100px 100px 100px;
}

.left {
    transform: scale(-1, 1);
}

.qr {
    display: block;
    margin: auto;
    padding: 100px;
    width: 700px;
}
